@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import 'tailwindcss';

* {
  cursor: none !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-main: 'Inter', sans-serif;
  --font-heading: 'Space Grotesk', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-main: var(--font-main);
  --font-heading: var(--font-heading);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main);
}

h2 {
  letter-spacing: -0.025em;
}

.cardShadow {
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.25),
    inset 0px -1px 2px 0px rgba(255, 255, 255, 0.25);
}

.scroll-x-container {
  overscroll-behavior: contain;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
